<div class="container">
  <h1 class="gradient">Welcome to Split-IT!</h1>

  <div class="login">
    <form [formGroup]="loginForm">
      <h1>Sign in to your account</h1>

      <mat-form-field class="details">
        <input matInput
               formControlName="username"
               type="text"
               placeholder="Username"
        >
      </mat-form-field>

      <mat-form-field class="details">
        <input type="password"
               matInput
               formControlName="password"
               placeholder="Password"
        >
      </mat-form-field>

      <div>
        <button mat-raised-button
                color="primary"
                (click)="submit()"
        > Sign In </button>
      </div>
      <span (click)="createAccount()">Don't have an account? Register now!</span>

    </form>

  </div>
</div>
