.gradient {
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
  background: linear-gradient(
      to right, purple, green,
      #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(white, teal);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 50px 50px;
  margin: 75px auto;
  border: 8px outset #999;
  width: 500px;
  background-color: white;
}


.details {
  padding-top: 20px;
}

.details label {
  padding-right: 10px;
}

button {
  margin-top: 30px;
  width: 100px;
  background-color: black;
  color: white;
}

span {
  :hover {
    color: blue;
    text-decoration: underline;
  }
}

